body {
    display: flex;
    justify-content: center;

    background-image: url("../images/background.jpg");
}

div.main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 500px;
    height: 200px;

    background-color: white;

    border-radius: 20px;
    border-width: 0px;
    border-style: solid;

    display: flex;
}

div.weather {
    position: static;
    width: 65%;
    height: 95%;

    margin: auto 5px;

    border-radius: inherit;
    border-width: 0px;

    /* background-color: rgb(218, 218, 218); */

    display: inline-block;
}

div.adtinfo {
    width: 35%;
    height: 95%;

    margin: auto 5px;
    margin-left: 0;

    border-radius: inherit;
    border-width: 0px;

    background-color: rgb(218, 218, 218);

    display: inline-block;
}


div.weather>p.place {
    padding: 5px 10px;
    margin: 0;
    height: 22%;

    border-radius: inherit;
    border-width: inherit;
    background-color: rgb(218, 218, 218);

    font-size: larger;
    font-weight: 900;
}

div.weather>div.icontemp {
    margin: 0;
    padding: 5px;
    height: 65%;
}