{% extends 'base.html' %}

{% block content %}
    <div class="weather">
        <p class="place" title="Местоположение">{{ place }}</p>
        <div class="icontemp">
            <img src="../../static/images/{{ icon }}.png" alt="" class="icon">
            <p class="temp" title="Температура">{{ temp }}<br>ºС</p>
        </div>
    </div>
    <div class="adtinfo">
        <p class="wind" title="Скорость ветра">{{ wind }} м/с</p>
        <p class="pressure" title="Давление">{{ pressure }} мм</p>
        <p class="humidity" title="Влажность">{{ humidity }}%</p>
    </div>
{% endblock %}